
# c64
*.d64

# do not add editor config to public repo
.idea

# npm
node_modules

# web
web/corelib.wasm
web/corelib.js
web/*.bc

# make
Makefile.bak
local.mk

# java
java-server/.gradle
java-server/build
java-server/gradle
java-server/gradlew
java-server/gradlew.bat
