
# c64
*.d64

# do not add editor config to public repo
.idea

# npm
node_modules

# web
web/corelib.wasm
web/corelib.js
web/*.bc

# make
Makefile.bak
local.mk

# java
java-server/.gradle
java-server/build
java-server/gradle
java-server/gradlew
java-server/gradlew.bat

# c++
cpp-server/cmake-build-debug
cpp-server/cmake-build-release
cpp-server/Makefile
cpp-server/CMakeFiles
cpp-server/CMakeCache.txt
cpp-server/cmake_install.cmake
cpp-server/cpp-server
*.gch
