@font-face {
    font-family: 'LCDM2N';
    src: url('./fonts/LCDM2N.eot');
    src: local('LCDM2N'), url('./fonts/LCDM2N.woff') format('woff'), url('./fonts/LCDM2N.ttf') format('truetype');
}

p {
    margin: 4px 0;
}

.pre {
    white-space: pre;
}

body {
    background: #000;
    color: #0f0;
    font-family: LCDM2N, monospace;
    min-width: 1024px;
}

canvas {
    background: #010;
    width: 768px;
    height: 768px;
}

.wheel-select:hover {
    font-weight: bold;
}

.controls {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
    max-width: 212px;
}

table {
    border-spacing: 12px 4px;
}

th {
    text-align: left;
}

td.num {
    text-align: right;
}

button {
    color: #0f0;
    background: black;
    font-family: LCDM2N, monospace;
    border: none;
    margin-right: 16px;
    font-size: 20px;
    padding: 4px 3px 0 3px;
}

input {
    color: #0f0;
    background: #555;
    font-family: LCDM2N, monospace;
    font-size: 20px;
    margin-right: 4px;
    padding: 0;
    padding-top: 3px;
}

button:hover {
    font-weight: bold;
}

button:disabled {
    color: #0a0;
}

button:focus {
    // outline: none;
}
